<div *ngIf="product.title" class="card" style="width: 15rem;">
    <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="{{product.title}}">
    <div class="card-body">
        <h4 class="card-title">{{ product.title }}</h4>
        <p class="card-text">{{ product.volume }} g</p>
    </div>
    <div *ngIf="cart && showActions" class="card-footer">
        <!-- <button routerLink="/product-details" class="btn btn-info btn-block">Product Details</button> -->

        <button class="btn btn-info btn-block myButton" (click)="open(content)">Produktdetails</button>

        <ng-template #content let-modal>
            <div class="modal-header">
                <div class="modal-title" id="modal-basic-title">
                    <h2 >{{ product.title }} </h2>
                    <h5>{{ product.volume }} g</h5>
                </div>
                
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <table class="table table-striped table-dark">
                <thead>
                    <!-- <tr>
                        <th scope="col">Nutritional Labels</th>
                        <th scope="col">Value</th>
                    </tr> -->
                </thead>
                <tbody>
                    <tr>
                        <td>Energie (kJ) je 100 g</td>
                        <td>{{ product.energieKJ }}</td>
                    </tr>
                    <tr>
                        <td>Energie (kcal) je 100 g</td>
                        <td>{{ product.energieKcal }}</td>
                    </tr>
                    <tr>
                        <td>Fett je 100 g</td>
                        <td>{{ product.fettJe }}</td>
                    </tr>
                    <tr>
                        <td>davon ges. Fettsäuren je 100 g</td>
                        <td>{{ product.davonGes }}</td>
                    </tr>
                    <tr>
                        <td>Kohlenhydrate je 100 g</td>
                        <td>{{ product.kohlenhydrate }}</td>
                    </tr>
                    <tr>
                        <td>davon Zucker je 100 g</td>
                        <td>{{ product.davonZucker }}</td>
                    </tr>
                    <tr>
                        <td>Ballaststoffe je 100 g</td>
                        <td>{{ product.ballaststoffe }}</td>
                    </tr>
                    <tr>
                        <td>Eiweiß je 100 g</td>
                        <td>{{ product.eiweiss }}</td>
                    </tr>
                    <tr>
                        <td>Salz je 100 g</td>
                        <td>{{ product.salzJe }}</td>
                    </tr>
                    <tr>
                        <td>Energie (kJ) pro Riegel</td>
                        <td>{{ product.energieKJPro }}</td>
                    </tr>
                    <tr>
                        <td>Energie (kcal) pro Riegel</td>
                        <td>{{ product.energieKcalPro }}</td>
                    </tr>
                    <tr>
                        <td>Fett pro Riegel</td>
                        <td>{{ product.fettPro }}</td>
                    </tr>
                    <tr>
                        <td>Davon ges. Fettsäuren pro Riegel</td>
                        <td>{{ product.davonGesPro }}</td>
                    </tr>
                    <tr>
                        <td>Kohlenhydrate pro Riegel</td>
                        <td>{{ product.kohlenhydratePro }}</td>
                    </tr>
                    <tr>
                        <td>Davon Zucker pro Riegel</td>
                        <td>{{ product.davonZuckerPro }}</td>
                    </tr>
                    <tr>
                        <td>Ballaststoffe pro Riegel</td>
                        <td>{{ product.ballaststoffePro }}</td>
                    </tr>
                    <tr>
                        <td>Eiweiß pro Riegel</td>
                        <td>{{ product.eiweissPro }}</td>
                    </tr>
                    <tr>
                        <td>Salz pro Riegel</td>
                        <td>{{ product.salzPro }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">schließen</button>
            </div>
        </ng-template>


        <button 
        *ngIf="cart.getQuantity(product) === 0; else updateQuantity"
        (click)="addToCart()" 
         class="btn btn-secondary btn-block">in den Warenkorb legen</button>
         <ng-template #updateQuantity>
            <product-quantity [product]="product" [cart]="cart"></product-quantity>
         </ng-template>
    </div>
</div>
