<div *ngIf="product.title" class="card" style="width: 15rem;">
    <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="{{product.title}}">
    <div class="card-body">
        <h4 class="card-title">{{ product.title }}</h4>
        <p class="card-text">{{ product.volume }} g</p>
    </div>
    <div *ngIf="cart && showActions" class="card-footer">
        <!-- <button routerLink="/product-details" class="btn btn-info btn-block">Product Details</button> -->

        <button class="btn btn-info btn-block myButton" (click)="open(content)">Nährwertangaben</button>

        <ng-template #content let-modal>
            <div class="modal-header">
                <div class="modal-title" id="modal-basic-title">
                    <h2 >{{ product.title }} </h2>
                    <h5>{{ product.volume }} g</h5>
                </div>
                
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nährwerte pro</th>
                        <th scope="col">100 g</th>
                        <th scope="col">Riegel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Brennwert</td>
                        <td>{{ product.energieKJ }} KJ / {{ product.energieKcal }} Kcal</td>
                        <td>{{ product.energieKJPro }} kJ / {{ product.energieKcalPro }} Kcal </td>
                    </tr>
                    <tr>
                        <td>Fett</td>
                        <td>{{ product.fettJe }} g</td>
                        <td>{{ product.fettPro }} g</td>
                    </tr>
                    <tr>
                        <td>davon ges. Fettsäuren</td>
                        <td>{{ product.davonGes }} g</td>
                        <td>{{ product.davonGesPro }} g</td>

                    </tr>
                    <tr>
                        <td>Kohlenhydrate</td>
                        <td>{{ product.kohlenhydrate }} g</td>
                        <td>{{ product.kohlenhydratePro }} g</td>
                    </tr>
                    <tr>
                        <td>davon Zucker</td>
                        <td>{{ product.davonZucker }} g</td>
                        <td>{{ product.davonZuckerPro }} g</td>
                    </tr>
                    <tr>
                        <td>Ballaststoffe</td>
                        <td>{{ product.ballaststoffe }} g</td>
                        <td>{{ product.ballaststoffePro }} g</td>
                    </tr>
                    <tr>
                        <td>Eiweiß</td>
                        <td>{{ product.eiweiss }} g</td>
                        <td>{{ product.eiweissPro }} g</td>
                    </tr>
                    <tr>
                        <td>Salz</td>
                        <td>{{ product.salzJe }} g</td>
                        <td>{{ product.salzPro }} g</td>
                    </tr>
                    
                </tbody>
            </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">schließen</button>
            </div>
        </ng-template>


        <button 
        *ngIf="cart.getQuantity(product) === 0; else updateQuantity"
        (click)="addToCart()" 
         class="btn btn-secondary btn-block">in den Warenkorb legen</button>
         <ng-template #updateQuantity>
            <product-quantity [product]="product" [cart]="cart"></product-quantity>
         </ng-template>
    </div>
</div>
