<!-- <div class="container">
    
</div> -->
<div class="myDesign" >
    <h2>Warenkorb</h2>
    <div class="row col-10" *ngIf="cart$ | async as cart">
        <p>Sie haben {{ cart.itemsCount }} Artikel in Ihrem Warenkorb.
            <button *ngIf="cart.itemsCount" (click)="clearCart()" class="btn btn-danger btn-sm">Warenkorb löschen</button>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Produkt</th>
                    <th scope="col" class="text-center" style="width: 230px;">Menge</th>
                    <!-- <th scope="col" class="text-right" style="width: 200px;">Volumen (Gramm)</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart.items">
                    <td>
                        <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
                    </td>
                    <td>{{ item.title }}</td>
                    <td class="text-center">
                        <product-quantity [product]="item" [cart]="cart"></product-quantity>
                    </td>
                    <!-- <td class="text-right">{{ item.totalVolume }}</td> -->
                </tr>
            </tbody>
            <tfoot>
                <th></th>
                <th></th>
                <th></th>
                <!-- <th class="text-right">{{ cart.totalVolume }} gramm</th> -->
            </tfoot>
        </table>
        <button *ngIf="cart.itemsCount" routerLink="/checkout" class="btn btn-primary cOut">Zur Kasse</button>
    </div>
</div>

